/* .restaurant-card{
    height:300px;
    width:310px;
    padding: 5px;
    background-color: #e1eaea;
    margin:5px;
    text-wrap: wrap;
}

.restaurant-card:hover{
    border:1px solid black;
    cursor: pointer;
} */